<!doctype html>
<html>
<head>
  <title>Mustache Example</title>
</head>
<body>
  <p id="uuid">{{uuid}}</p>
  <p id="name">{{name}}</p>
  <p id="email">{{email}}</p>
  <ul id="friends">
    {{#friends}}
      <li>{{.}}</li>
    {{/friends}}
  </ul>
  {{#lorems}}
    <p>{{.}}</p>
  {{/lorems}}
</body>
</html>